@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700|Raleway:400,100,200,300,600,500);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, figcaption, footer, header, hgroup, 
menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html { height: 100%; }
body {
	line-height: 1;
	height: 100%;
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Raleway', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
	background-color: #fff;
	padding: 3em;
	margin: 0;
	min-height: 550px;
	position: relative;
	overflow: hidden;
}
header.internal {
	min-height: 200px;
	box-shadow: 0 -4px 3px rgba(100, 100, 100, 0.3) inset;
	background-color: #eee;
}
.section-wrap {
	max-width: 1200px;
	margin: 0 auto;
}
#toolImages {
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	text-align: center;
}
#toolImages > img {
	vertical-align: top;
	margin: 0 20px;
}

#mainNav > #headerLogo {
	display: block;
	width: 20%;
	float: left;
	padding: 1.5em 1em 0;
}
#mainNav > ul {
	margin: 0;
	padding: 2.5em 0;
	display: block;
	float: right;
	font-weight: 200;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#mainNav > ul.fixed {
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	text-align: right;
	z-index: 100;
}
#mainNav > ul.fixed > li {
	padding: 1.5em 1em;
	
}
#mainNav > ul.fixed > li > a {
	color: #fff;
	font-size: 1em;
}
#mainNav > ul.fixed > li > a:hover {
	color: #F58020;
}
#mainNav > ul > li {
	display: inline-block;
}
#mainNav a {
	text-decoration: none;
	color: #222;
	font-size: 1.3em;
	padding: 0 1em;
}
#mainNav a:hover {
	text-decoration: underline;
}

.heroHeadline {
	font-size: 3.6em;
	color: #999;
	padding: 1em 0 ;
	font-weight: 200;
	text-align: center;
	clear: both;
}
.heroHeadline span {
	color: #222;
}

#work {
	background: #933;
	color: #fff;
	margin: 0;
	padding: 5em 1em 5em 1em;
}
#work h1 {
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
}
.workItem {
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    font-size: 1.8em;
    font-weight: 200;
    margin: 3em 1.5%;
    min-height: 250px;
    padding: 1em 0.5em;
    text-align: center;
    width: 30%;
    transition: 0.3s background-color ease;
    -moz-transition: 0.3s background-color ease;
    -webkit-transition: 0.3s background-color ease;
    -ms-transition: 0.3s background-color ease;
    -o-transition: 0.3s background-color ease;
}
.workItem.wi-dark {
	border: 1px solid #222;
}
.workItem > h4 {
	margin-top: 1em;
}
.workItem > .fa {
	display: inline-block;
	width: 100%;
	font-size: 3em;
	transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}
.workItem:hover {
    background: none repeat scroll 0 0 #333;
}
.workItem.wi-dark:hover {
    background: none repeat scroll 0 0 #eee;
}
.workItem:hover > .fa-refresh, .workItem:hover > .fa-cog {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
    
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.workItem:hover > .fa-bolt {
	-webkit-transform: translateY(0.1em);
	-moz-transform: translateY(0.1em);
	-ms-transform: translateY(0.1em);
	-o-transform: translateY(0.1em);
	transform: translateY(0.1em);
}

#about {
	background: #329867;
	color: #fff;
	margin: 0;
	padding: 5em 1em 5em 1em;
}
#about h1 {
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
}
.body-content {
	margin: 0 auto;
	padding: 3em 0;
	width: 80%;	
}
.body-content h3 {
	font-size: 2em;
	line-height: 2em;
	color: #222;
}
.body-content p {
	line-height: 1.8em;
	font-size: 1.2em;
	color: #fff;
	font-weight: normal;
	margin: 1em 0;
}
.body-content ul {
	margin-left: 2em;
	list-style: circle;
}
.body-content li {
	margin: 1em 0;
	font-size: 1.2em;
}
#backSlider {
	position: absolute;
	top: 650px;
	left: 50%;
	color: #fff;
	font-size: 200px;
	opacity: 0.3;
	margin-left: -55px;
	
}
#backSlider.preFix {
	position: fixed;
	top: 200px;
}
#backSlider.fixed {
	color: #FFFFFF;
	font-size: 2.5em;
	left: 90px;
	opacity: 1;
	position: fixed;
	top: 10px;
	z-index: 200;
}
#aboutIcon {
	position: absolute;
	color: #FFFFFF;
	font-size: 100px;
	left: 50%;
	margin-left: -51px;
	opacity: 0.3;
	position: absolute;
	top: 1320px;
}
#aboutIcon.fixed {
	color: #FFFFFF;
	font-size: 2.2em;
	left: 90px;
	opacity: 1;
	position: fixed;
	top: 10px;
	z-index: 200;
}

#footer {
	background: #333;
	color: #fff;
	margin: 0;
	padding: 5em 1em 5em 1em;
}
#footer h1 {
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
}
#footer ul {
	display: inline-block;
	width: 33%;
	padding: 1em;
	box-sizing: border-box;
	vertical-align: top;
}
#footer ul li {
	margin: 0;
	padding: 0;
}
#footer ul a {
	display: block;
	color: #fff;
	padding: 1em 0;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: 200;
}
#footer ul a:hover {
	text-decoration: underline;
	color: #F58020;
}

.internalContent {
	background: #fff;
	height: 800px;
	color: orange;
}

.body-content h2 { 
	color: #F58020; 
	font-size: 3em;
	font-weight: 200;
}
.body-content h3, .body-content h4, .body-content h5 {
	color: #000;
	font-size: 2em;
	line-height: 1em;
	padding-top: 0.5em;
	font-weight: bold;
} 

.body-content p, .body-content ul {
	color: #222;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
}

#container .internalContent .workItem {
	background-image: url("http://www.syncroness.com/wp-content/uploads/2012/10/menularge_cs1_sustaining_eng.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0;
	padding: 0;
}
